<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center pb-3 mb-3 border-bottom border-warning">
      <li class="nav-item">
        <a routerLink="/" class="nav-link fw-bold px-2 footerSett">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="//info/about" class="nav-link fw-bold px-2 footerSett">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="//info/contact-us" class="nav-link fw-bold px-2 footerSett">Contact us</a>
      </li>
    </ul>
    <div class="d-flex align-items-center justify-content-center">
      <p class="fw-bold footerSett">© 2024 Company, Inc</p>
    </div>
  </footer>
</div>

