.jumbotron {

  background-size: cover;
  background-position: center;
  color:rgb(5, 161, 5);
}

.jumbotron h1, .jumbotron p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
