<div class="px-3 py-2 bg-dark text-white border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <img src="/frontend/src/assets/logo.png" alt="Logo" height="40"></a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#house-door"></use>
            </svg>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/ricette" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#book-half"></use>
            </svg>
            Ricette
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contatti" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#telephone-fill"></use>
            </svg>
            Contatti
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/chi-siamo" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#people-fill"></use>
            </svg>
            Chi Siamo
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#journal-text"></use>
            </svg>
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#person-plus-fill"></use>
            </svg>
            Register
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link text-white" routerLinkActive="active">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#person-circle"></use>
            </svg>
            Login
          </a>
        </li>
      </ul>
      <form class="d-flex ms-auto">
        <input class="form-control me-2" type="search" placeholder="Cerca ricette" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
      </form>
    </div>
  </div>
</div>
