@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

/* Stile per la navbar */
.navbar {
  background-color: rgb(5, 161, 5);
  margin-top: -25px;
  position: relative;
}

/* Logo */
.logo {
  width: 80px;
}

/* Stile per i link della navbar */
.nav-link {
  color: rgb(26, 36, 26);
  font-weight: bold;
  padding: 10px 15px;
}

/* Stile per i link al passaggio del mouse */
.nav-link:hover {
  color: rgb(247, 232, 71);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-dark {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

/* Stile per il botton di logout */
.btn-danger {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

/* Posizionamento dei pulsanti a destra */
.d-flex {
  display: flex;
  align-items: center;
}

.ms-auto {
  margin-left: auto;
}
