<div class="main-container">
  <div class="container">
    <div class="form_area p-5">
      <p class="title">SIGN UP</p>
      <form (ngSubmit)="signUp()">
        <div class="form_group">
          <label class="sub_title" for="firstName">Nome</label>
          <input
            name="firstName"
            placeholder="Inserisci il tuo nome"
            class="form_style"
            type="text"
            [(ngModel)]="registerData.firstName"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="lastName">Cognome</label>
          <input
            name="lastName"
            placeholder="Inserisci il tuo cognome"
            class="form_style"
            type="text"
            [(ngModel)]="registerData.lastName"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="mail">Mail</label>
          <input
            name="mail"
            placeholder="Inserisci la tua mail"
            class="form_style"
            type="email"
            [(ngModel)]="registerData.email"
            required
          />
        </div>
        <div class="form_group">
          <label class="sub_title" for="password">Password</label>
          <input
            name="password"
            placeholder="Inserisci la tua password"
            class="form_style"
            type="password"
            [(ngModel)]="registerData.password"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn">REGISTRATI</button>
          <p>Hai già un account? <a class="link" routerLink="/auth/login">Accedi qui</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

